<!--<div class="container-fluid p-0 ">-->

  <!--<div class="fademe">-->
    <!--<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">-->
      <!--<div class="my-auto">-->
        <!--<h2 class="mb-5">Experience</h2>-->

        <!--<div class="resume-item d-flex flex-column flex-md-row mb-5">-->
          <!--<div class="resume-content mr-auto">-->
            <!--<h3 class="mb-0">Software Engineering Intern</h3>-->
            <!--<div class="subheading mb-3">opsZero - Santa Rosa, CA</div>-->
            <!--<p>-->
              <!--● Developed open source DevOps virtualization tools in Go. <br>-->
              <!--● Worked on GitLead, a recruiting platform for open-source developers. <br>-->
              <!--● Worked on <a href="">GitLead</a>, a recruiting platform for open-source developers. <br>-->
              <!--<sub-bullet>○ Designed frontend with ReactJS.</sub-bullet><br>-->
              <!--<sub-bullet>○ Built REST API’s with Ruby on Rails.</sub-bullet>-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="resume-date text-md-right">-->
            <!--<span class="text-primary">October 2017 - Present</span>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="resume-item d-flex flex-column flex-md-row mb-5">-->
          <!--<div class="resume-content mr-auto">-->
            <!--<h3 class="mb-0">President</h3>-->
            <!--<div class="subheading mb-3">Santa Rosa Junior College Computer Science Club - Santa Rosa, CA</div>-->
            <!--<p>-->
              <!--● Contributed to multiple concurrent projects ranging from robotics to web apps.<br>-->
              <!--● Managed code review for group projects and lead club meetings and recruitment.<br>-->
              <!--● Tutored peers on elementary data structures and algorithms.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="resume-date text-md-right">-->
            <!--<span class="text-primary">May 2017 - Present</span>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="resume-item d-flex flex-column flex-md-row mb-5">-->
          <!--<div class="resume-content mr-auto">-->
            <!--<h3 class="mb-0">Software Engineering Intern</h3>-->
            <!--<div class="subheading mb-3">Micromat - Windsor, CA</div>-->
            <!--<p>-->
              <!--● Collaborated with engineers on developing MacOS applications with Swift.<br>-->
              <!--● Developed a contact form for company website with HTML, CSS, jQuery, and PHP.<br>-->
              <!--● Utilized best practices such as MVC architecture and Git workflow.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="resume-date text-md-right">-->
            <!--<span class="text-primary">June 2017 - August 2017</span>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="resume-item d-flex flex-column flex-md-row">-->
          <!--<div class="resume-content mr-auto">-->
            <!--<h3 class="mb-0">Intern</h3>-->
            <!--<div class="subheading mb-3">Sonoma County Economic Development Board - Santa Rosa, CA</div>-->
            <!--<p>-->
              <!--● Developed data resources providing labour statistics for entrepreneurs.<br>-->
              <!--● Described as “mature” and “careful in his work” by Economic Director Ben Stone.<br>-->
              <!--● Assisted in designing and compiling features for a new E.D.B. website.-->

            <!--</p>-->
          <!--</div>-->
          <!--<div class="resume-date text-md-right">-->
            <!--<span class="text-primary">November 2015 - March 2016</span>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

    <!--</section>-->
  <!--</div>-->

<!--</div>-->